<div class="login-page">
  <div class="content">
      <!-- <h1 class="app-name">Sb Admin Material</h1>  -->
      <form class="login-form" flex >
          <div class="text-center">
              <h2 class="app-name">APP</h2>
          </div>
          <div flex layout="row" layout-md="column">
              <div flex>
                  <mat-form-field class="w-100">
                      <input matInput placeholder="Email">
                  </mat-form-field>
              </div>
          </div>
          <div flex layout="row" layout-md="column">
              <div flex>
                  <mat-form-field class="w-100">
                      <input matInput type="password" placeholder="Password">
                  </mat-form-field>
              </div>
          </div>
          <div flex layout="row" layout-md="column" style="margin: 20px 0 30px 0">
              <div flex>
                  <mat-checkbox color="primary">Lembre de mim</mat-checkbox>
              </div>
              <div layout-align="end center">
                  <a href="javascript:void(0)">Esqueceu a senha</a>
              </div>
          </div>
          <div flex layout="row" layout-md="column">
              <div flex>
                  <button mat-raised-button color="primary" class="w-100" (click)="onLogin()">Login</button>
              </div>
          </div>
      </form>
  </div>
</div>