<!--The content below is only a placeholder and can be replaced.-->
<td-layout>
  <td-navigation-drawer flex logo="assets:teradata-dark" sidenavTitle="COVALENT" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a mat-list-item [routerLink]="[ '/home' ]" routerLinkActive="active">
        <mat-icon>home</mat-icon>Home
      </a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon>account_box</mat-icon>Profile
        </a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>

  <td-layout-nav logo="assets:teradata" toolbarTitle="COVALENT" navigationRoute="/">
    
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>

    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span flex></span>
      <td-search-box placeholder="Pesquisa" [alwaysVisible]="false" flex></td-search-box>      
      <button class="overflow-visible" mat-icon-button>
        <td-notification-count [notifications]="101" [limit]=50>
          <mat-icon>notifications</mat-icon>
        </td-notification-count>
      </button>      
    </div>

    <router-outlet></router-outlet>

    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
      </div>
    </td-layout-footer>

  </td-layout-nav>

</td-layout>