
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// add covalent theme
@import '~@covalent/core/theming/all-theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-custom-primary: mat-palette($mat-blue-grey);
$app-custom-accent: mat-palette($mat-orange, 800, 100, 900);

// The warn palette is optional (defaults to red).
$app-custom-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-custom-theme: mat-light-theme($app-custom-primary, $app-custom-accent, $app-custom-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-custom-theme);
@include covalent-theme($app-custom-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-icon {
    &.mat-icon-logo {
      position: relative;
      top: -2px;
    }
}