table {
    width: 100%;
}

.card-header {
    margin-left: 15px;
}

.keyboard_backspace {
    position: absolute;
    top: 10px;
    left: 5px;
}

.card-search {
    position: absolute;
    right: 15px;
}

.buttom-add {
    position: absolute;
    top: 4%;
    right: -14%;
    color: white;
    z-index: 999999;
}
