<td-layout-card-over>

  <button mat-icon-button class="keyboard_backspace">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  
  <mat-card-header class="card-header">
    <mat-card-title>LISTA DE USUÁRIOS</mat-card-title>
    <mat-card-subtitle>Todos os usuários cadastrados.</mat-card-subtitle>
    <td-search-box class="card-search" placeholder="Pesquisa por Nome" [alwaysVisible]="false"></td-search-box>      
  </mat-card-header>        

  <mat-divider></mat-divider>
 
    <mat-card-content>
      
        <table mat-table [dataSource]="dataSource" matSort>
      
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
              <td mat-cell *matCellDef="let cliente"> {{cliente.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Completo </th>
              <td mat-cell *matCellDef="let cliente"> {{cliente.nome}} </td>
            </ng-container>
        
            <ng-container matColumnDef="sexo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
              <td mat-cell *matCellDef="let cliente"> {{cliente.sexo}} </td>
            </ng-container>
        
            <ng-container matColumnDef="categoria">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
              <td mat-cell *matCellDef="let cliente"> {{cliente.categoria}} </td>
           </ng-container>
        
            <ng-container matColumnDef="dataNascimento">
              <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
              <td mat-cell *matCellDef="let cliente"> {{cliente.dataNascimento}} </td>
            </ng-container>
        
            <ng-container matColumnDef="controle">
              <th mat-header-cell *matHeaderCellDef>Ação</th>
              <td mat-cell *matCellDef="let cliente">
                <a>Abrir</a>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

    </mat-card-content>


    <span class="buttom-add">
      <button mat-fab color="accent">
        <mat-icon class="mat-18">add</mat-icon>
      </button>
    </span> 

</td-layout-card-over>
